@charset "utf-8";
/* CSS Document */
#principal {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;	
}
#pantalla{
  float:left;
  width:100%;
  height:25%;
  background: #0CF;
  text-align:center;
  color:#000;
  font-size:4em;
  font-weight:bold;
  font-family:"Times New Roman", Times, serif;
}
#teclado{
  float: left;
  width: 100%;
  height: 75%;
}
.nota{
	position::relative;
	float:left;
	height:100%;
	outline:#000 solid 3px;
	background: #FFF;
    width:6.666666667%;
}
.nota1 {
	position:absolute;
	float:left;
	height: 40%;
	background-color:#000;
}
.textonota{
	position:relative;
	top:80%;
	text-align:center;
	font-size:0.9em;
	font-weight:bold;
	color:#000;

}

#doS{
	margin-top:12.5%;
	width:30px;
	height:40%;
	float:left;
	margin-left:5%;
}
#reS{
	margin-top:12.5%;
    width:30px;
	height:40%;
	float:left;
	margin-left:11.5%;
}
#faS{
	margin-top:12.5%;
    width:30px;
	height:40%;
	float:left;
	margin-left:24.5%;
}
#solS{
	margin-top:12.5%;
	width:30px;
	height:40%;
	float:left;
	margin-left:31%;
}
#laS{
	margin-top:12.5%;
	width:30px;
	height:40%;
	float:left;
	margin-left:38%;
}
#doSS{
	margin-top:12.5%;
	width:30px;
	height:40%;
	float:left;
	margin-left:50.5%;
}
#reSS{
	margin-top:12.5%;
	width:30px;
	height:40%;
	float:left;
	margin-left:64%;
}
#faSS{
	margin-top:12.5%;
	width:30px;
	height:40%;
	float:left;
	margin-left:70%;
}
#solSS{
	margin-top:12.5%;
	width:30px;
	height:40%;
	float:left;
	margin-left:83%;
}
#laSS{
	margin-top:12.5%;
	width:30px;
	height:40%;
	float:left;
	margin-left:90%;
}
.tocada{
	background: #6F6;
	color: #FFF;
	outline: #699 solid 1px;
}

